In [375]:
# imports
import pandas as pd
import statistics
import numpy as np
from datetime import datetime
import re

In [376]:
# read the data (2012)
df = pd.read_csv('data/BPI_Challenge_2012-training.csv')

# read the data (2017)
# df = pd.read_csv('data/BPI Challenge 2017-training.csv')

# read the data (2018)
# df = pd.read_csv('data/BPI Challenge 2018-training.csv')

# read the data (road traffic fines)
# df = pd.read_csv('data/Road_Traffic_Fine_Management_Process-training.csv')

df.head(10)

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp
0,0,173688,2011-10-01T00:38:44.546+02:00,20000,A_SUBMITTED,COMPLETE,01-10-2011 00:38:44.546
1,1,173688,2011-10-01T00:38:44.546+02:00,20000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 00:38:44.880
2,2,173688,2011-10-01T00:38:44.546+02:00,20000,A_PREACCEPTED,COMPLETE,01-10-2011 00:39:37.906
3,3,173688,2011-10-01T00:38:44.546+02:00,20000,W_Completeren aanvraag,SCHEDULE,01-10-2011 00:39:38.875
4,4294967296,173691,2011-10-01T08:08:58.256+02:00,5000,A_SUBMITTED,COMPLETE,01-10-2011 08:08:58.256
5,4294967297,173691,2011-10-01T08:08:58.256+02:00,5000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 08:09:02.195
6,4294967298,173691,2011-10-01T08:08:58.256+02:00,5000,A_PREACCEPTED,COMPLETE,01-10-2011 08:09:56.648
7,4294967299,173691,2011-10-01T08:08:58.256+02:00,5000,W_Completeren aanvraag,SCHEDULE,01-10-2011 08:09:59.578
8,8589934592,173694,2011-10-01T08:10:30.287+02:00,7000,A_SUBMITTED,COMPLETE,01-10-2011 08:10:30.287
9,8589934593,173694,2011-10-01T08:10:30.287+02:00,7000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 08:10:30.591

In [377]:
# Defining database-specific variables
case_column = "case concept:name"
registration_time_column = "case REG_DATE"
event_column = "event concept:name"
timestamp_column = "event time:timestamp"
position_column = "Position"
predicted_next_event_column = "Prediction for Next Activity"
predicted_next_timestamp_column = "Prediction for Next Timestamp"
time_since_registration_column = "Time Since Registration"
day_of_week_column = "day_of_week"
month_of_year_column = "month_of_year"
offer_sent = 'O_SENT' # the name a of a sent offer state within event_column
timeformat_registration = "%Y-%m-%dT%H:%M:%S" # new time format
timeformat_timestamp = "%d-%m-%Y %H:%M:%S.%f"

In [378]:
df[registration_time_column]= [re.sub('\..*|\+.*','',a,flags=re.DOTALL) for a in df[registration_time_column]]
df[registration_time_column] = [datetime.strptime(date, timeformat_registration) for date in df[registration_time_column]]
df[timestamp_column] = [datetime.strptime(date, timeformat_timestamp) for date in df[timestamp_column]]
df = df.sort_values(by=[case_column, timestamp_column])  # sort values by user and time of event
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214377 entries, 0 to 199657
Data columns (total 7 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   eventID                     214377 non-null  int64
 1   case concept:name           214377 non-null  int64
 2   case REG_DATE               214377 non-null  datetime64[ns]
 3   case AMOUNT_REQ             214377 non-null  int64
 4   event concept:name          214377 non-null  object
 5   event lifecycle:transition  214377 non-null  object
 6   event time:timestamp        214377 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(2)
memory usage: 13.1+ MB

In [379]:
# adding the day of the week and month of the year columns

df[time_since_registration_column] = df[timestamp_column] - df[registration_time_column] # Adding time since registration 
df[day_of_week_column] = df[timestamp_column].dt.day_name()
df[month_of_year_column] = df[timestamp_column].dt.month_name()

In [380]:
# creating a dataframe containing the name and time of a case at the time it was pre-accepted
offer_sent_mask = df[event_column] == offer_sent
case_check = df[offer_sent_mask][[case_column,timestamp_column]].copy().reset_index(drop=True)
case_check

      case concept:name    event time:timestamp
0                173688 2011-10-01 11:45:11.380
1                173691 2011-10-01 14:35:47.583
2                173691 2011-10-03 16:56:19.645
3                173694 2011-10-03 13:40:15.651
4                173694 2011-10-03 13:44:19.719
...                 ...                     ...
5681             206294 2012-02-06 12:43:44.029
5682             206297 2012-02-03 16:21:35.592
5683             206300 2012-02-03 16:20:50.869
5684             206309 2012-02-03 16:48:07.350
5685             206315 2012-02-04 11:26:19.372

[5686 rows x 2 columns]

In [381]:
# create a dictionary length_process that stores the lenght of all processes indexed by the case number
# fill in the column created earlier that shows which position is a certain event in the process (the first event is 1)

df[position_column] = df.groupby([case_column]).cumcount()+1
length_process = df.groupby([case_column]).size().to_dict()
#length_process

df

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,Time Since Registration,day_of_week,month_of_year,Position
0,0,173688,2011-10-01 00:38:44,20000,A_SUBMITTED,COMPLETE,2011-10-01 00:38:44.546,0 days 00:00:00.546000,Saturday,October,1
1,1,173688,2011-10-01 00:38:44,20000,A_PARTLYSUBMITTED,COMPLETE,2011-10-01 00:38:44.880,0 days 00:00:00.880000,Saturday,October,2
2,2,173688,2011-10-01 00:38:44,20000,A_PREACCEPTED,COMPLETE,2011-10-01 00:39:37.906,0 days 00:00:53.906000,Saturday,October,3
3,3,173688,2011-10-01 00:38:44,20000,W_Completeren aanvraag,SCHEDULE,2011-10-01 00:39:38.875,0 days 00:00:54.875000,Saturday,October,4
89,4,173688,2011-10-01 00:38:44,20000,W_Completeren aanvraag,START,2011-10-01 11:36:46.437,0 days 10:58:02.437000,Saturday,October,5
...,...,...,...,...,...,...,...,...,...,...,...
199718,44955422687236,206318,2012-02-03 17:07:38,5000,A_DECLINED,COMPLETE,2012-02-03 17:55:57.294,0 days 00:48:19.294000,Friday,February,5
199719,44955422687237,206318,2012-02-03 17:07:38,5000,W_Afhandelen leads,COMPLETE,2012-02-03 17:56:00.998,0 days 00:48:22.998000,Friday,February,6
199654,44959717654528,206321,2012-02-03 17:08:39,2000,A_SUBMITTED,COMPLETE,2012-02-03 17:08:39.200,0 days 00:00:00.200000,Friday,February,1
199655,44959717654529,206321,2012-02-03 17:08:39,2000,A_PARTLYSUBMITTED,COMPLETE,2012-02-03 17:08:39.459,0 days 00:00:00.459000,Friday,February,2
199657,44959717654530,206321,2012-02-03 17:08:39,2000,A_DECLINED,COMPLETE,2012-02-03 17:09:19.112,0 days 00:00:40.112000,Friday,February,3

In [382]:
# here you can see different statistics about the process lenght
print(f'Mean: {statistics.mean(length_process.values())}')
print(f'Mode: {statistics.mode(length_process.values())}')
print(f'Median: {statistics.median(length_process.values())}')
print(f'Max: {max(length_process.values())}') # this is df[df['case concept:name'] == 185548]
print(f'Min: {min(length_process.values())}')

Mean: 20.477313974591652
Mode: 3
Median: 11
Max: 175
Min: 3

In [383]:
# the dictionary prediction_step stores the most common event for each position (if there are multiple modes we pick the first event that is encountered)
# for example, the most common activity to occur in position 2 is prediction_step[1]; prediction for position n+1 is prediction_step[n]
# If there is no next prediction after position n then prediction_step[n] == "-"

prediction_step = {i: statistics.multimode(df[event_column][df[position_column] == i+1])[0] for i in range(1, max(length_process.values()))}
prediction_step[max(length_process.values())] = "-"

prediction_step

{1: 'A_PARTLYSUBMITTED',
 2: 'W_Afhandelen leads',
 3: 'W_Afhandelen leads',
 4: 'W_Completeren aanvraag',
 5: 'W_Completeren aanvraag',
 6: 'W_Completeren aanvraag',
 7: 'W_Completeren aanvraag',
 8: 'W_Completeren aanvraag',
 9: 'W_Completeren aanvraag',
 10: 'W_Completeren aanvraag',
 11: 'W_Completeren aanvraag',
 12: 'W_Nabellen offertes',
 13: 'W_Completeren aanvraag',
 14: 'W_Nabellen offertes',
 15: 'W_Nabellen offertes',
 16: 'W_Nabellen offertes',
 17: 'W_Nabellen offertes',
 18: 'W_Nabellen offertes',
 19: 'W_Nabellen offertes',
 20: 'W_Nabellen offertes',
 21: 'W_Nabellen offertes',
 22: 'W_Nabellen offertes',
 23: 'W_Nabellen offertes',
 24: 'W_Nabellen offertes',
 25: 'W_Nabellen offertes',
 26: 'W_Nabellen offertes',
 27: 'W_Nabellen offertes',
 28: 'W_Nabellen offertes',
 29: 'W_Nabellen offertes',
 30: 'W_Nabellen offertes',
 31: 'W_Nabellen offertes',
 32: 'W_Nabellen offertes',
 33: 'W_Nabellen offertes',
 34: 'W_Nabellen offertes',
 35: 'W_Nabellen offertes',
 36: 'W_Nabellen offertes',
 37: 'W_Nabellen offertes',
 38: 'W_Nabellen incomplete dossiers',
 39: 'W_Nabellen incomplete dossiers',
 40: 'W_Nabellen incomplete dossiers',
 41: 'W_Nabellen incomplete dossiers',
 42: 'W_Nabellen incomplete dossiers',
 43: 'W_Nabellen incomplete dossiers',
 44: 'W_Nabellen incomplete dossiers',
 45: 'W_Nabellen incomplete dossiers',
 46: 'W_Nabellen incomplete dossiers',
 47: 'W_Nabellen incomplete dossiers',
 48: 'W_Nabellen incomplete dossiers',
 49: 'W_Nabellen incomplete dossiers',
 50: 'W_Nabellen incomplete dossiers',
 51: 'W_Nabellen incomplete dossiers',
 52: 'W_Nabellen incomplete dossiers',
 53: 'W_Nabellen incomplete dossiers',
 54: 'W_Nabellen incomplete dossiers',
 55: 'W_Nabellen incomplete dossiers',
 56: 'W_Nabellen incomplete dossiers',
 57: 'W_Nabellen incomplete dossiers',
 58: 'W_Nabellen incomplete dossiers',
 59: 'W_Nabellen incomplete dossiers',
 60: 'W_Nabellen incomplete dossiers',
 61: 'W_Nabellen incomplete dossiers',
 62: 'W_Nabellen incomplete dossiers',
 63: 'W_Nabellen incomplete dossiers',
 64: 'W_Nabellen incomplete dossiers',
 65: 'W_Nabellen incomplete dossiers',
 66: 'W_Nabellen incomplete dossiers',
 67: 'W_Nabellen incomplete dossiers',
 68: 'W_Nabellen incomplete dossiers',
 69: 'W_Nabellen incomplete dossiers',
 70: 'W_Nabellen incomplete dossiers',
 71: 'W_Nabellen incomplete dossiers',
 72: 'W_Nabellen incomplete dossiers',
 73: 'W_Nabellen incomplete dossiers',
 74: 'W_Nabellen incomplete dossiers',
 75: 'W_Nabellen incomplete dossiers',
 76: 'W_Nabellen incomplete dossiers',
 77: 'W_Nabellen incomplete dossiers',
 78: 'W_Nabellen incomplete dossiers',
 79: 'W_Nabellen incomplete dossiers',
 80: 'W_Nabellen incomplete dossiers',
 81: 'W_Nabellen incomplete dossiers',
 82: 'W_Nabellen incomplete dossiers',
 83: 'W_Nabellen incomplete dossiers',
 84: 'W_Nabellen incomplete dossiers',
 85: 'W_Nabellen incomplete dossiers',
 86: 'W_Nabellen incomplete dossiers',
 87: 'W_Nabellen incomplete dossiers',
 88: 'W_Nabellen incomplete dossiers',
 89: 'W_Nabellen incomplete dossiers',
 90: 'W_Nabellen incomplete dossiers',
 91: 'W_Nabellen incomplete dossiers',
 92: 'W_Nabellen incomplete dossiers',
 93: 'W_Nabellen incomplete dossiers',
 94: 'W_Nabellen incomplete dossiers',
 95: 'W_Nabellen incomplete dossiers',
 96: 'W_Nabellen incomplete dossiers',
 97: 'W_Nabellen incomplete dossiers',
 98: 'W_Nabellen incomplete dossiers',
 99: 'W_Nabellen incomplete dossiers',
 100: 'W_Nabellen incomplete dossiers',
 101: 'W_Nabellen incomplete dossiers',
 102: 'W_Nabellen incomplete dossiers',
 103: 'W_Nabellen incomplete dossiers',
 104: 'W_Nabellen incomplete dossiers',
 105: 'W_Nabellen incomplete dossiers',
 106: 'W_Nabellen incomplete dossiers',
 107: 'W_Nabellen incomplete dossiers',
 108: 'W_Nabellen incomplete dossiers',
 109: 'W_Nabellen incomplete dossiers',
 110: 'W_Nabellen incomplete dossiers',
 111: 'W_Nabellen incomplete dossiers',
 112: 'W_Nabellen incomplete dossiers',
 113: 'W_Nabellen incomplete dossiers',
 114: 'W_Nabellen incomplete dossiers',
 115: 'W_Nabellen incomplete dossiers',
 116: 'W_Nabellen incomplete dossiers',
 117: 'W_Nabellen incomplete dossiers',
 118: 'W_Nabellen incomplete dossiers',
 119: 'W_Nabellen incomplete dossiers',
 120: 'W_Nabellen incomplete dossiers',
 121: 'W_Nabellen incomplete dossiers',
 122: 'W_Nabellen incomplete dossiers',
 123: 'W_Nabellen incomplete dossiers',
 124: 'W_Nabellen incomplete dossiers',
 125: 'W_Nabellen incomplete dossiers',
 126: 'W_Nabellen incomplete dossiers',
 127: 'W_Nabellen incomplete dossiers',
 128: 'W_Nabellen incomplete dossiers',
 129: 'W_Nabellen incomplete dossiers',
 130: 'W_Nabellen incomplete dossiers',
 131: 'W_Nabellen incomplete dossiers',
 132: 'W_Nabellen incomplete dossiers',
 133: 'W_Nabellen incomplete dossiers',
 134: 'W_Nabellen incomplete dossiers',
 135: 'W_Nabellen incomplete dossiers',
 136: 'W_Nabellen incomplete dossiers',
 137: 'W_Nabellen incomplete dossiers',
 138: 'W_Nabellen incomplete dossiers',
 139: 'W_Nabellen incomplete dossiers',
 140: 'W_Nabellen incomplete dossiers',
 141: 'W_Nabellen incomplete dossiers',
 142: 'W_Nabellen incomplete dossiers',
 143: 'W_Nabellen incomplete dossiers',
 144: 'W_Nabellen incomplete dossiers',
 145: 'W_Nabellen incomplete dossiers',
 146: 'W_Nabellen incomplete dossiers',
 147: 'W_Nabellen incomplete dossiers',
 148: 'W_Nabellen incomplete dossiers',
 149: 'W_Nabellen incomplete dossiers',
 150: 'W_Nabellen incomplete dossiers',
 151: 'W_Nabellen incomplete dossiers',
 152: 'W_Nabellen incomplete dossiers',
 153: 'W_Nabellen incomplete dossiers',
 154: 'W_Nabellen incomplete dossiers',
 155: 'W_Nabellen incomplete dossiers',
 156: 'W_Nabellen incomplete dossiers',
 157: 'W_Nabellen incomplete dossiers',
 158: 'W_Nabellen incomplete dossiers',
 159: 'W_Nabellen incomplete dossiers',
 160: 'W_Nabellen incomplete dossiers',
 161: 'W_Nabellen incomplete dossiers',
 162: 'W_Nabellen incomplete dossiers',
 163: 'W_Nabellen incomplete dossiers',
 164: 'W_Nabellen incomplete dossiers',
 165: 'W_Nabellen incomplete dossiers',
 166: 'W_Nabellen incomplete dossiers',
 167: 'W_Nabellen incomplete dossiers',
 168: 'W_Nabellen incomplete dossiers',
 169: 'W_Nabellen incomplete dossiers',
 170: 'W_Nabellen incomplete dossiers',
 171: 'W_Nabellen incomplete dossiers',
 172: 'O_CANCELLED',
 173: 'A_CANCELLED',
 174: 'W_Nabellen incomplete dossiers',
 175: '-'}

In [384]:
# We add the predicted next event as a new column to the dataframe
df[predicted_next_event_column] = [prediction_step[x] for x in df[position_column]]

#df[df[case_column] == 173688]

In [385]:
# We create a dictionary to store the average time duration until the next event
# For example the average time duration between position n and n+1 is average_time_per_pos[n]
# The dataframe must be sorted on case-number and timestamp for this calculation to work!
# if there exists no event in the dataset of n+1 then average_time_per_pos[n] == pd.Timedelta(0)


# Code Explanation: We shift every row up before subtracting the timestamps
# then we select only the rows of a certain position i 
# then we select only the rows that have another event that comes after itself (must be in the same case of course) 
# and finally store the sum of all those timedeltas for every position i in the dict
sum_of_timedeltas = {i: (df[timestamp_column].shift(periods=-1) - df[timestamp_column])[df[position_column] == i][df[position_column]+1 == df[position_column].shift(periods=-1)].sum() for i in range(1, max(length_process.values()) + 1)}

number_of_adds = {i: len(df[df[position_column] == i][df[position_column]+1 == df[position_column].shift(periods=-1)]) for i in range(1, max(length_process.values()) + 1)}

average_time_per_pos = {i: (sum_of_timedeltas[i] / number_of_adds[i] if number_of_adds[i]!=0 else pd.Timedelta(0)) for i in range(1, max(length_process.values()) + 1)}

#average_time_per_pos

C:\Users\Sander\AppData\Local\Temp/ipykernel_32732/1662022964.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  number_of_adds = {i: len(df[df[position_column] == i][df[position_column]+1 == df[position_column].shift(periods=-1)]) for i in range(1, max(length_process.values()) + 1)}

In [386]:
# We add the predicted time duration until next event to the dataframe 
df[predicted_next_timestamp_column] = [x + average_time_per_pos[y] for x,y in zip(df[timestamp_column], df[position_column])]

df[df[case_column] == 185548] # Note that the events of pos 173 and 174 happen at the exact same timestamp!

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,Time Since Registration,day_of_week,month_of_year,Position,Prediction for Next Activity,Prediction for Next Timestamp
64935,16333760626688,185548,2011-11-15 13:42:45,20000,A_SUBMITTED,COMPLETE,2011-11-15 13:42:45.593,0 days 00:00:00.593000,Tuesday,November,1,A_PARTLYSUBMITTED,2011-11-15 13:42:46.175640462
64936,16333760626689,185548,2011-11-15 13:42:45,20000,A_PARTLYSUBMITTED,COMPLETE,2011-11-15 13:42:45.889,0 days 00:00:00.889000,Tuesday,November,2,W_Afhandelen leads,2011-11-15 13:43:20.991779539
64938,16333760626690,185548,2011-11-15 13:42:45,20000,A_PREACCEPTED,COMPLETE,2011-11-15 13:43:31.963,0 days 00:00:46.963000,Tuesday,November,3,W_Afhandelen leads,2011-11-15 16:34:47.624069032
64939,16333760626691,185548,2011-11-15 13:42:45,20000,W_Completeren aanvraag,SCHEDULE,2011-11-15 13:43:32.557,0 days 00:00:47.557000,Tuesday,November,4,W_Completeren aanvraag,2011-11-15 16:59:25.467088057
64989,16333760626692,185548,2011-11-15 13:42:45,20000,W_Completeren aanvraag,START,2011-11-15 13:59:33.696,0 days 00:16:48.696000,Tuesday,November,5,W_Completeren aanvraag,2011-11-15 14:17:23.742873248
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165456,16333760626858,185548,2011-11-15 13:42:45,20000,W_Nabellen incomplete dossiers,COMPLETE,2012-01-17 10:54:42.893,62 days 21:11:57.893000,Tuesday,January,171,W_Nabellen incomplete dossiers,2012-01-17 11:20:51.763000000
165539,16333760626859,185548,2011-11-15 13:42:45,20000,W_Nabellen incomplete dossiers,START,2012-01-17 11:20:51.763,62 days 21:38:06.763000,Tuesday,January,172,O_CANCELLED,2012-01-17 11:25:56.714000000
165555,16333760626861,185548,2011-11-15 13:42:45,20000,O_CANCELLED,COMPLETE,2012-01-17 11:25:56.714,62 days 21:43:11.714000,Tuesday,January,173,A_CANCELLED,2012-01-17 11:25:56.714000000
165556,16333760626860,185548,2011-11-15 13:42:45,20000,A_CANCELLED,COMPLETE,2012-01-17 11:25:56.714,62 days 21:43:11.714000,Tuesday,January,174,W_Nabellen incomplete dossiers,2012-01-17 11:26:00.120000000
165557,16333760626862,185548,2011-11-15 13:42:45,20000,W_Nabellen incomplete dossiers,COMPLETE,2012-01-17 11:26:00.120,62 days 21:43:15.120000,Tuesday,January,175,-,2012-01-17 11:26:00.120000000