In [1]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import numpy as np
from datetime import datetime
import re
from sklearn.metrics import accuracy_score

In [2]:
# read the data (2012)
df = pd.read_csv('data/BPI_Challenge_2012-training.csv')

df_test = pd.read_csv('data/BPI_Challenge_2012-test.csv')

# read the data (road traffic fines)
# df = pd.read_csv('data/Road_Traffic_Fine_Management_Process-training.csv')

# read the data (2017)
# df = pd.read_csv('data/BPI Challenge 2017-training.csv')

# read the data (2018)
# df = pd.read_csv('data/BPI Challenge 2018-training.csv')

df.head(10)

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp
0,0,173688,2011-10-01T00:38:44.546+02:00,20000,A_SUBMITTED,COMPLETE,01-10-2011 00:38:44.546
1,1,173688,2011-10-01T00:38:44.546+02:00,20000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 00:38:44.880
2,2,173688,2011-10-01T00:38:44.546+02:00,20000,A_PREACCEPTED,COMPLETE,01-10-2011 00:39:37.906
3,3,173688,2011-10-01T00:38:44.546+02:00,20000,W_Completeren aanvraag,SCHEDULE,01-10-2011 00:39:38.875
4,4294967296,173691,2011-10-01T08:08:58.256+02:00,5000,A_SUBMITTED,COMPLETE,01-10-2011 08:08:58.256
5,4294967297,173691,2011-10-01T08:08:58.256+02:00,5000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 08:09:02.195
6,4294967298,173691,2011-10-01T08:08:58.256+02:00,5000,A_PREACCEPTED,COMPLETE,01-10-2011 08:09:56.648
7,4294967299,173691,2011-10-01T08:08:58.256+02:00,5000,W_Completeren aanvraag,SCHEDULE,01-10-2011 08:09:59.578
8,8589934592,173694,2011-10-01T08:10:30.287+02:00,7000,A_SUBMITTED,COMPLETE,01-10-2011 08:10:30.287
9,8589934593,173694,2011-10-01T08:10:30.287+02:00,7000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 08:10:30.591

In [3]:
# Defining database-specific variables
case_column = "case concept:name"
registration_time_column = "case REG_DATE"
event_column = "event concept:name"
timestamp_column = "event time:timestamp"
position_column = "Position"
baseline_next_event_column = "Baseline Prediction for Next Activity"
position_next_event_column = "Position Prediction for Next Activity"
pos_event_next_event_column = "Position&Event Prediction for Next Activity"
baseline_next_timestamp_column = "Baseline Prediction for Next Timestamp"
position_next_timestamp_column = "Position Prediction for Next Timestamp"
pos_event_next_timestamp_column = "Position&Event Prediction for Next Timestamp"
time_since_registration_column = "Time Since Registration"
day_of_week_column = "day_of_week"
month_of_year_column = "month_of_year"
offer_sent = 'O_SENT' # the name a of a sent offer state within event_column
timeformat_registration = "%Y-%m-%dT%H:%M:%S" # new time format
timeformat_timestamp = "%d-%m-%Y %H:%M:%S.%f"

In [4]:
df[registration_time_column]= [re.sub('\..*|\+.*','',a,flags=re.DOTALL) for a in df[registration_time_column]]
df[registration_time_column] = [datetime.strptime(date, timeformat_registration) for date in df[registration_time_column]]
df[timestamp_column] = [datetime.strptime(date, timeformat_timestamp) for date in df[timestamp_column]]
df = df.sort_values(by=[case_column, timestamp_column]).reset_index() # sort values by user and time of event
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214377 entries, 0 to 214376
Data columns (total 8 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   index                       214377 non-null  int64
 1   eventID                     214377 non-null  int64
 2   case concept:name           214377 non-null  int64
 3   case REG_DATE               214377 non-null  datetime64[ns]
 4   case AMOUNT_REQ             214377 non-null  int64
 5   event concept:name          214377 non-null  object
 6   event lifecycle:transition  214377 non-null  object
 7   event time:timestamp        214377 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(2)
memory usage: 13.1+ MB

In [5]:
df_test[registration_time_column]= [re.sub('\..*|\+.*','',a,flags=re.DOTALL) for a in df_test[registration_time_column]]
df_test[registration_time_column] = [datetime.strptime(date, timeformat_registration) for date in df_test[registration_time_column]]
df_test[timestamp_column] = [datetime.strptime(date, timeformat_timestamp) for date in df_test[timestamp_column]]
df_test = df_test.sort_values(by=[case_column, timestamp_column]).reset_index() # sort values by user and time of event
#df_test.info()

In [6]:
# adding the day of the week and month of the year columns

df[time_since_registration_column] = df[timestamp_column] - df[registration_time_column] # Adding time since registration 
df[day_of_week_column] = df[timestamp_column].dt.day_name()
df[month_of_year_column] = df[timestamp_column].dt.month_name()

In [7]:
# add column offer sent (binary)
df_offersentevents = df[df[event_column] == offer_sent]
df_firsteventofcase = df_offersentevents[df_offersentevents[case_column].shift(periods=1) != df_offersentevents[case_column]]
dict_timestamp_offer_sent = dict(zip(df_firsteventofcase[case_column],df_firsteventofcase[timestamp_column]))

df[offer_sent] = [(True if ((case in dict_timestamp_offer_sent) and (dict_timestamp_offer_sent[case] <= time)) else False) for case,time in zip(df[case_column],df[timestamp_column])]
#df.head(40)

In [8]:
# We create a dictionary length_process that stores the total length of a trace indexed by the case number
# We fill in the Position column that shows which position is a certain event in the trace (the first event is 1)

df[position_column] = df.groupby([case_column]).cumcount()+1
length_process = df.groupby([case_column]).size().to_dict()

#length_process
#df[df[case_column] == 173688]

In [9]:
# here you can see different statistics about the process length
print(f'Mean: {statistics.mean(length_process.values())}')
#print(f'Mode: {statistics.mode(length_process.values())}') # This line can cause a critical error if there exist multiple modes
print(f'Median: {statistics.median(length_process.values())}')
print(f'Max: {max(length_process.values())}') # this is df[df['case concept:name'] == 185548]
print(f'Min: {min(length_process.values())}')

Mean: 20.477313974591652
Median: 11
Max: 175
Min: 3

In [10]:
# the dictionary prediction_step stores the most common event for each position (if there are multiple modes we pick the first event that is encountered)
# for example, the most common activity to occur in position 2 is prediction_step[1]; prediction for position n+1 is prediction_step[n]
# If there is no next prediction after position n then prediction_step[n] == "-"

# prediction_step = {i: df[event_column][df[position_column] == i+1].mode()[0] for i in range(1, max(length_process.values()))}
# prediction_step[max(length_process.values())] = "-"

#prediction_step

In [11]:
# We add the predicted next event (based on position only) as a new column to the dataframe
#df[position_next_event_column] = [prediction_step[x] for x in df[position_column]]

#df[df[case_column] == 173688]

In [12]:
# We create a dictionary to store the average time duration until the next event
# For example the average time duration between position n and n+1 is average_time_per_pos[n]
# The dataframe must be sorted on case-number and timestamp for this calculation to work!
# if there exists no event in the dataset of n+1 then average_time_per_pos[n] == pd.Timedelta(0)

# Code Explanation: We subtract the timestamps and then shift the results up so the difference from n to n+1 is on row n.
# Only if the position numbers are consecutive (so both events are in the same trace) should include the row in the mean() calculation.
shifted_deltatimes = df[timestamp_column].diff().shift(periods=-1)[df[case_column].shift(periods=-1) == df[case_column]]

# The mean() function will return NaT if the input is empty, we replace this with pd.Timedelta(0)
def replacenat(timedelt):
    if (pd.isna(timedelt)):
        return pd.Timedelta(0)
    return timedelt

# We select only the rows of a certain position i and then calculate the mean() on those timedeltas

# average_time_per_pos = {i: replacenat(shifted_deltatimes[df[position_column] == i].mean()) for i in range(1, max(length_process.values()) + 1)}

#average_time_per_pos

In [29]:
print(shifted_deltatimes.head(50))

0    0 days 00:00:00.334000
1    0 days 00:00:53.026000
2    0 days 00:00:00.969000
3    0 days 10:57:07.562000
4    0 days 00:05:56.871000
5    0 days 00:02:25.935000
6           0 days 00:00:00
7    0 days 00:00:01.954000
8    0 days 00:00:00.183000
9    0 days 00:00:00.174000
10   0 days 00:00:02.363000
11   0 days 00:30:27.373000
12   0 days 00:01:27.634000
13   7 days 04:09:48.796000
14   0 days 00:05:03.166000
15   1 days 19:00:21.609000
16   0 days 00:00:41.173000
17   0 days 00:00:00.892000
18   0 days 00:00:01.231000
19   2 days 22:32:21.134000
20   0 days 00:32:02.301000
21          0 days 00:00:00
22          0 days 00:00:00
23          0 days 00:00:00
24   0 days 00:00:07.800000
26   0 days 00:00:03.939000
27   0 days 00:00:54.453000
28   0 days 00:00:02.930000
29   0 days 03:27:32.815000
30   0 days 00:05:40.785000
31   0 days 02:44:44.597000
32   0 days 00:05:56.839000
33   0 days 00:01:51.402000
34          0 days 00:00:00
35   0 days 00:00:01.472000
36   0 days 00:00:00.095000
37   0 days 00:00:00.099000
38   0 days 00:00:01.109000
39   0 days 00:00:24.652000
40   0 days 00:00:12.351000
41   2 days 02:18:17.463000
42   0 days 00:01:34.474000
43          0 days 00:00:00
44   0 days 00:00:01.882000
45   0 days 00:00:00.032000
46   0 days 00:00:00.296000
47   0 days 00:00:01.254000
48   0 days 00:00:13.597000
49   0 days 00:00:41.771000
50   6 days 17:16:28.264000
Name: event time:timestamp, dtype: timedelta64[ns]

In [30]:
df.head(50)

,index,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,Time Since Registration,day_of_week,month_of_year,O_SENT,Position,Baseline Prediction for Next Activity,Baseline Prediction for Next Timestamp
0,0,0,173688,2011-10-01 00:38:44,20000,A_SUBMITTED,COMPLETE,2011-10-01 00:38:44.546,0 days 00:00:00.546000,Saturday,October,False,1,A_PARTLYSUBMITTED,2011-10-01 00:38:45.128640462
1,1,1,173688,2011-10-01 00:38:44,20000,A_PARTLYSUBMITTED,COMPLETE,2011-10-01 00:38:44.880,0 days 00:00:00.880000,Saturday,October,False,2,W_Afhandelen leads,2011-10-01 00:39:19.982779539
2,2,2,173688,2011-10-01 00:38:44,20000,A_PREACCEPTED,COMPLETE,2011-10-01 00:39:37.906,0 days 00:00:53.906000,Saturday,October,False,3,W_Completeren aanvraag,2011-10-01 00:39:38.408771753
3,3,3,173688,2011-10-01 00:38:44,20000,W_Completeren aanvraag,SCHEDULE,2011-10-01 00:39:38.875,0 days 00:00:54.875000,Saturday,October,False,4,W_Completeren aanvraag,2011-10-01 17:58:08.032379243
4,89,4,173688,2011-10-01 00:38:44,20000,W_Completeren aanvraag,START,2011-10-01 11:36:46.437,0 days 10:58:02.437000,Saturday,October,False,5,W_Completeren aanvraag,2011-10-02 04:55:15.594379243
5,94,5,173688,2011-10-01 00:38:44,20000,A_ACCEPTED,COMPLETE,2011-10-01 11:42:43.308,0 days 11:03:59.308000,Saturday,October,False,6,O_SELECTED,2011-10-01 11:46:27.513278604
6,98,7,173688,2011-10-01 00:38:44,20000,A_FINALIZED,COMPLETE,2011-10-01 11:45:09.243,0 days 11:06:25.243000,Saturday,October,False,7,O_CREATED,2011-10-01 11:45:11.557131461
7,99,6,173688,2011-10-01 00:38:44,20000,O_SELECTED,COMPLETE,2011-10-01 11:45:09.243,0 days 11:06:25.243000,Saturday,October,False,8,O_CREATED,2011-10-01 11:45:11.199693633
8,100,8,173688,2011-10-01 00:38:44,20000,O_CREATED,COMPLETE,2011-10-01 11:45:11.197,0 days 11:06:27.197000,Saturday,October,False,9,O_SENT,2011-10-01 11:45:11.257123109
9,101,9,173688,2011-10-01 00:38:44,20000,O_SENT,COMPLETE,2011-10-01 11:45:11.380,0 days 11:06:27.380000,Saturday,October,True,10,W_Nabellen offertes,2011-10-01 11:45:11.587961660
10,102,10,173688,2011-10-01 00:38:44,20000,W_Nabellen offertes,SCHEDULE,2011-10-01 11:45:11.554,0 days 11:06:27.554000,Saturday,October,True,11,W_Nabellen offertes,2011-10-02 18:43:57.249287283
11,103,11,173688,2011-10-01 00:38:44,20000,W_Completeren aanvraag,COMPLETE,2011-10-01 11:45:13.917,0 days 11:06:29.917000,Saturday,October,True,12,W_Completeren aanvraag,2011-10-02 05:03:43.074379243
12,117,12,173688,2011-10-01 00:38:44,20000,W_Nabellen offertes,START,2011-10-01 12:15:41.290,0 days 11:36:57.290000,Saturday,October,True,13,W_Nabellen offertes,2011-10-02 19:14:26.985287283
13,118,13,173688,2011-10-01 00:38:44,20000,W_Nabellen offertes,COMPLETE,2011-10-01 12:17:08.924,0 days 11:38:24.924000,Saturday,October,True,14,W_Nabellen offertes,2011-10-02 19:15:54.619287283
14,7544,14,173688,2011-10-01 00:38:44,20000,W_Nabellen offertes,START,2011-10-08 16:26:57.720,7 days 15:48:13.720000,Saturday,October,True,15,W_Nabellen offertes,2011-10-09 23:25:43.415287283
15,7548,15,173688,2011-10-01 00:38:44,20000,W_Nabellen offertes,COMPLETE,2011-10-08 16:32:00.886,7 days 15:53:16.886000,Saturday,October,True,16,W_Nabellen offertes,2011-10-09 23:30:46.581287283
16,8237,16,173688,2011-10-01 00:38:44,20000,W_Nabellen offertes,START,2011-10-10 11:32:22.495,9 days 10:53:38.495000,Monday,October,True,17,W_Nabellen offertes,2011-10-11 18:31:08.190287283
17,8238,17,173688,2011-10-01 00:38:44,20000,O_SENT_BACK,COMPLETE,2011-10-10 11:33:03.668,9 days 10:54:19.668000,Monday,October,True,18,W_Valideren aanvraag,2011-10-10 11:33:03.996141180
18,8239,18,173688,2011-10-01 00:38:44,20000,W_Valideren aanvraag,SCHEDULE,2011-10-10 11:33:04.560,9 days 10:54:20.560000,Monday,October,True,19,W_Valideren aanvraag,2011-10-10 13:52:11.053953974
19,8240,19,173688,2011-10-01 00:38:44,20000,W_Nabellen offertes,COMPLETE,2011-10-10 11:33:05.791,9 days 10:54:21.791000,Monday,October,True,20,W_Nabellen offertes,2011-10-11 18:31:51.486287283
20,12358,20,173688,2011-10-01 00:38:44,20000,W_Valideren aanvraag,START,2011-10-13 10:05:26.925,12 days 09:26:42.925000,Thursday,October,True,21,W_Valideren aanvraag,2011-10-13 12:24:33.418953974
21,12413,23,173688,2011-10-01 00:38:44,20000,O_ACCEPTED,COMPLETE,2011-10-13 10:37:29.226,12 days 09:58:45.226000,Thursday,October,True,22,A_APPROVED,2011-10-13 10:37:30.058150963
22,12414,21,173688,2011-10-01 00:38:44,20000,A_REGISTERED,COMPLETE,2011-10-13 10:37:29.226,12 days 09:58:45.226000,Thursday,October,True,23,A_ACTIVATED,2011-10-13 10:37:31.753093532
23,12415,22,173688,2011-10-01 00:38:44,20000,A_APPROVED,COMPLETE,2011-10-13 10:37:29.226,12 days 09:58:45.226000,Thursday,October,True,24,A_REGISTERED,2011-10-13 10:38:20.483649919
24,12416,24,173688,2011-10-01 00:38:44,20000,A_ACTIVATED,COMPLETE,2011-10-13 10:37:29.226,12 days 09:58:45.226000,Thursday,October,True,25,A_REGISTERED,2011-10-13 10:37:32.371048128
25,12417,25,173688,2011-10-01 00:38:44,20000,W_Valideren aanvraag,COMPLETE,2011-10-13 10:37:37.026,12 days 09:58:53.026000,Thursday,October,True,26,W_Valideren aanvraag,2011-10-13 12:56:43.519953974
26,4,4294967296,173691,2011-10-01 08:08:58,5000,A_SUBMITTED,COMPLETE,2011-10-01 08:08:58.256,0 days 00:00:00.256000,Saturday,October,False,1,A_PARTLYSUBMITTED,2011-10-01 08:08:58.838640462
27,5,4294967297,173691,2011-10-01 08:08:58,5000,A_PARTLYSUBMITTED,COMPLETE,2011-10-01 08:09:02.195,0 days 00:00:04.195000,Saturday,October,False,2,W_Afhandelen leads,2011-10-01 08:09:37.297779539
28,6,4294967298,173691,2011-10-01 08:08:58,5000,A_PREACCEPTED,COMPLETE,2011-10-01 08:09:56.648,0 days 00:00:58.648000,Saturday,October,False,3,W_Completeren aanvraag,2011-10-01 08:09:57.150771753
29,7,4294967299,173691,2011-10-01 08:08:58,5000,W_Completeren aanvraag,SCHEDULE,2011-10-01 08:09:59.578,0 days 00:01:01.578000,Saturday,October,False,4,W_Completeren aanvraag,2011-10-02 01:28:28.735379243
30,90,4294967300,173691,2011-10-01 08:08:58,5000,W_Completeren aanvraag,START,2011-10-01 11:37:32.393,0 days 03:28:34.393000,Saturday,October,False,5,W_Completeren aanvraag,2011-10-02 04:56:01.550379243
31,96,4294967301,173691,2011-10-01 08:08:58,5000,W_Completeren aanvraag,COMPLETE,2011-10-01 11:43:13.178,0 days 03:34:15.178000,Saturday,October,False,6,W_Completeren aanvraag,2011-10-02 05:01:42.335379243
32,170,4294967302,173691,2011-10-01 08:08:58,5000,W_Completeren aanvraag,START,2011-10-01 14:27:57.775,0 days 06:18:59.775000,Saturday,October,False,7,W_Completeren aanvraag,2011-10-02 07:46:26.932379243
33,171,4294967303,173691,2011-10-01 08:08:58,5000,A_ACCEPTED,COMPLETE,2011-10-01 14:33:54.614,0 days 06:24:56.614000,Saturday,October,False,8,O_SELECTED,2011-10-01 14:37:38.819278604
34,172,4294967305,173691,2011-10-01 08:08:58,5000,O_SELECTED,COMPLETE,2011-10-01 14:35:46.016,0 days 06:26:48.016000,Saturday,October,False,9,O_CREATED,2011-10-01 14:35:47.972693633
35,173,4294967304,173691,2011-10-01 08:08:58,5000,A_FINALIZED,COMPLETE,2011-10-01 14:35:46.016,0 days 06:26:48.016000,Saturday,October,False,10,O_CREATED,2011-10-01 14:35:48.330131461
36,174,4294967306,173691,2011-10-01 08:08:58,5000,O_CREATED,COMPLETE,2011-10-01 14:35:47.488,0 days 06:26:49.488000,Saturday,October,False,11,O_SENT,2011-10-01 14:35:47.548123109
37,175,4294967307,173691,2011-10-01 08:08:58,5000,O_SENT,COMPLETE,2011-10-01 14:35:47.583,0 days 06:26:49.583000,Saturday,October,True,12,W_Nabellen offertes,2011-10-01 14:35:47.790961660
38,176,4294967308,173691,2011-10-01 08:08:58,5000,W_Nabellen offertes,SCHEDULE,2011-10-01 14:35:47.682,0 days 06:26:49.682000,Saturday,October,True,13,W_Nabellen offertes,2011-10-02 21:34:33.377287283
39,177,4294967309,173691,2011-10-01 08:08:58,5000,W_Completeren aanvraag,COMPLETE,2011-10-01 14:35:48.791,0 days 06:26:50.791000,Saturday,October,True,14,W_Completeren aanvraag,2011-10-02 07:54:17.948379243
40,178,4294967310,173691,2011-10-01 08:08:58,5000,W_Nabellen offertes,START,2011-10-01 14:36:13.443,0 days 06:27:15.443000,Saturday,October,True,15,W_Nabellen offertes,2011-10-02 21:34:59.138287283
41,179,4294967311,173691,2011-10-01 08:08:58,5000,W_Nabellen offertes,COMPLETE,2011-10-01 14:36:25.794,0 days 06:27:27.794000,Saturday,October,True,16,W_Nabellen offertes,2011-10-02 21:35:11.489287283
42,1524,4294967312,173691,2011-10-01 08:08:58,5000,W_Nabellen offertes,START,2011-10-03 16:54:43.257,2 days 08:45:45.257000,Monday,October,True,17,W_Nabellen offertes,2011-10-04 23:53:28.952287283
43,1525,4294967314,173691,2011-10-01 08:08:58,5000,O_CANCELLED,COMPLETE,2011-10-03 16:56:17.731,2 days 08:47:19.731000,Monday,October,True,18,O_SELECTED,2011-10-03 16:56:19.091857292
44,1526,4294967313,173691,2011-10-01 08:08:58,5000,O_SELECTED,COMPLETE,2011-10-03 16:56:17.731,2 days 08:47:19.731000,Monday,October,True,19,O_CREATED,2011-10-03 16:56:19.687693633
45,1527,4294967315,173691,2011-10-01 08:08:58,5000,O_CREATED,COMPLETE,2011-10-03 16:56:19.613,2 days 08:47:21.613000,Monday,October,True,20,O_SENT,2011-10-03 16:56:19.673123109
46,1528,4294967316,173691,2011-10-01 08:08:58,5000,O_SENT,COMPLETE,2011-10-03 16:56:19.645,2 days 08:47:21.645000,Monday,October,True,21,W_Nabellen offertes,2011-10-03 16:56:19.852961660
47,1529,4294967317,173691,2011-10-01 08:08:58,5000,W_Nabellen offertes,SCHEDULE,2011-10-03 16:56:19.941,2 days 08:47:21.941000,Monday,October,True,22,W_Nabellen offertes,2011-10-04 23:55:05.636287283
48,1530,4294967318,173691,2011-10-01 08:08:58,5000,W_Nabellen offertes,COMPLETE,2011-10-03 16:56:21.195,2 days 08:47:23.195000,Monday,October,True,23,W_Nabellen offertes,2011-10-04 23:55:06.890287283
49,1531,4294967319,173691,2011-10-01 08:08:58,5000,W_Nabellen offertes,START,2011-10-03 16:56:34.792,2 days 08:47:36.792000,Monday,October,True,24,W_Nabellen offertes,2011-10-04 23:55:20.487287283

In [14]:
# We add the predicted time duration until next event to the dataframe 
# df[position_next_timestamp_column] = [x + average_time_per_pos[y] for x,y in zip(df[timestamp_column], df[position_column])]

# df[df[case_column] == 185548] # Note that the events of pos 173 and 174 happen at the exact same timestamp!

In [15]:
# list of unique events in the data
unique_events = df[event_column].unique()

# dictionary to store the most common (mode) event following the key event
dict_common_next_event = {event: df[(df[case_column].shift(periods=-1) == df[case_column]) & (df[event_column].shift(periods=1) == event)][event_column].mode()[0] for event in unique_events}

#dict_common_next_event

In [16]:
# test = pd.Series(["test1", "test1", "test2", "test2"])
# test.mode()[0]

In [17]:
# We apply the dictionary to the dataset to get the baseline event prediction
df[baseline_next_event_column] = [(dict_common_next_event[event] if (event in dict_common_next_event) else "-") for event in df[event_column]]

#df[df[case_column] == 185548]

In [18]:
# dictionary to store the average time for each event
dict_time_per_event = {event: replacenat(shifted_deltatimes[df[event_column] == event].mean()) for event in unique_events}

dict_hours_per_event = {event: (dict_time_per_event[event].total_seconds()/(60*60)) for event in unique_events}

#dict_time_per_event

# plt.bar(hours_per_event.keys(), hours_per_event.values())
# plt.show()

In [19]:
# apply the average time to the dataframe to get the baseline time prediction
df[baseline_next_timestamp_column] = [(time + dict_time_per_event[event] if (event in dict_time_per_event) else time) for event,time in zip(df[event_column], df[timestamp_column])]

df[df[case_column] == 185548]

,index,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,Time Since Registration,day_of_week,month_of_year,O_SENT,Position,Baseline Prediction for Next Activity,Baseline Prediction for Next Timestamp
78435,64935,16333760626688,185548,2011-11-15 13:42:45,20000,A_SUBMITTED,COMPLETE,2011-11-15 13:42:45.593,0 days 00:00:00.593000,Tuesday,November,False,1,A_PARTLYSUBMITTED,2011-11-15 13:42:46.175640462
78436,64936,16333760626689,185548,2011-11-15 13:42:45,20000,A_PARTLYSUBMITTED,COMPLETE,2011-11-15 13:42:45.889,0 days 00:00:00.889000,Tuesday,November,False,2,W_Afhandelen leads,2011-11-15 13:43:20.991779539
78437,64938,16333760626690,185548,2011-11-15 13:42:45,20000,A_PREACCEPTED,COMPLETE,2011-11-15 13:43:31.963,0 days 00:00:46.963000,Tuesday,November,False,3,W_Completeren aanvraag,2011-11-15 13:43:32.465771753
78438,64939,16333760626691,185548,2011-11-15 13:42:45,20000,W_Completeren aanvraag,SCHEDULE,2011-11-15 13:43:32.557,0 days 00:00:47.557000,Tuesday,November,False,4,W_Completeren aanvraag,2011-11-16 07:02:01.714379243
78439,64989,16333760626692,185548,2011-11-15 13:42:45,20000,W_Completeren aanvraag,START,2011-11-15 13:59:33.696,0 days 00:16:48.696000,Tuesday,November,False,5,W_Completeren aanvraag,2011-11-16 07:18:02.853379243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78605,165456,16333760626858,185548,2011-11-15 13:42:45,20000,W_Nabellen incomplete dossiers,COMPLETE,2012-01-17 10:54:42.893,62 days 21:11:57.893000,Tuesday,January,True,171,W_Nabellen incomplete dossiers,2012-01-17 18:08:57.358645946
78606,165539,16333760626859,185548,2011-11-15 13:42:45,20000,W_Nabellen incomplete dossiers,START,2012-01-17 11:20:51.763,62 days 21:38:06.763000,Tuesday,January,True,172,W_Nabellen incomplete dossiers,2012-01-17 18:35:06.228645946
78607,165555,16333760626861,185548,2011-11-15 13:42:45,20000,O_CANCELLED,COMPLETE,2012-01-17 11:25:56.714,62 days 21:43:11.714000,Tuesday,January,True,173,O_SELECTED,2012-01-17 11:25:58.074857292
78608,165556,16333760626860,185548,2011-11-15 13:42:45,20000,A_CANCELLED,COMPLETE,2012-01-17 11:25:56.714,62 days 21:43:11.714000,Tuesday,January,True,174,A_SUBMITTED,2012-01-17 11:28:58.061432222
78609,165557,16333760626862,185548,2011-11-15 13:42:45,20000,W_Nabellen incomplete dossiers,COMPLETE,2012-01-17 11:26:00.120,62 days 21:43:15.120000,Tuesday,January,True,175,W_Nabellen incomplete dossiers,2012-01-17 18:40:14.585645946

In [20]:
def getNumberOfActiveEvents(timestamp):
    assert isinstance(timestamp, pd.Timestamp)
    df_previousevents = df[df[timestamp_column] <= timestamp]
    df_lastrowofcase = df_previousevents[(df_previousevents[position_column].diff()!=1).shift(periods=-1, fill_value=True)]
    return {event: len(df_lastrowofcase[df_lastrowofcase[event_column] == event]) for event in unique_events}

getNumberOfActiveEvents(pd.Timestamp("2012-01-17 11:20:51.763"))

{'A_SUBMITTED': 0,
 'A_PARTLYSUBMITTED': 0,
 'A_PREACCEPTED': 0,
 'W_Completeren aanvraag': 1545,
 'A_ACCEPTED': 0,
 'A_FINALIZED': 0,
 'O_SELECTED': 0,
 'O_CREATED': 0,
 'O_SENT': 0,
 'W_Nabellen offertes': 1067,
 'O_SENT_BACK': 0,
 'W_Valideren aanvraag': 1618,
 'O_ACCEPTED': 0,
 'A_REGISTERED': 0,
 'A_APPROVED': 0,
 'A_ACTIVATED': 1,
 'O_CANCELLED': 141,
 'W_Wijzigen contractgegevens': 2,
 'A_DECLINED': 2323,
 'A_CANCELLED': 359,
 'W_Afhandelen leads': 1622,
 'O_DECLINED': 0,
 'W_Nabellen incomplete dossiers': 249,
 'W_Beoordelen fraude': 44}

In [21]:
# We create a list containing all unique combinations of position numbers and events that exist in the data

# unique_pos_event = list({(pos,event) for event,pos in zip(df[event_column],df[position_column])})

# len(unique_pos_event)

In [22]:
# We create dictionary that takes into account the most recent event AND the position in the trace to give the most likely next event

# The mode() function can return an empty series if the input is empty, then we should output "-"
def get_first_mode(srs):
    if (len(srs)>0):
        return srs[0]
    return "-"

# pos_event_prediction = {(pos,event): get_first_mode(df[event_column][(df[event_column].shift() == event) & (df[position_column] == pos+1)].mode()) for pos,event in unique_pos_event}

#pos_event_prediction#[("A_PARTLYSUBMITTED", 2)]

In [23]:
# We add the predicted next event as a new column to the dataframe
# df[pos_event_next_event_column] = [pos_event_prediction[(pos, event)] for pos,event in zip(df[position_column], df[event_column])]
#df[df[case_column] == 185548]

In [24]:
# We calculate the average time-difference between the next event and the current time for every pair of position

# pos_event_timedelta = {(pos,event): replacenat(shifted_deltatimes[(df[position_column]==pos)&(df[event_column]==event)].mean()) for pos,event in unique_pos_event}

#pos_event_timedelta

In [25]:
# We add the predicted next timestamp as a new column to the dataframe
# df[pos_event_next_timestamp_column] = [time+pos_event_timedelta[(pos,event)] for pos,event,time in zip(df[position_column], df[event_column], df[timestamp_column])]
# df[df[case_column] == 185548]

In [26]:
# Applying the baseline predictions to the test dataset
df_test[baseline_next_event_column] = [(dict_common_next_event[event] if (event in dict_common_next_event) else "-") for event in df_test[event_column]]
df_test[baseline_next_timestamp_column] = [(time + dict_time_per_event[event] if (event in dict_time_per_event) else time) for event,time in zip(df_test[event_column], df_test[timestamp_column])]

In [27]:
# Accuracy % of event predictions:

training_event_accuracy = len(df[(df[baseline_next_event_column].shift(periods=1)==df[event_column]) & (df[case_column].shift(periods=1) == df[case_column])]) * 100 / len(df[df[case_column].shift(periods=1) == df[case_column]])

test_event_accuracy = len(df_test[(df_test[baseline_next_event_column].shift(periods=1)==df_test[event_column]) & (df_test[case_column].shift(periods=1) == df_test[case_column])]) * 100 / len(df_test[df_test[case_column].shift(periods=1) == df_test[case_column]])

training_event_accuracy, test_event_accuracy

(64.9130980638327, 64.06370976661874)

In [28]:
# Mean Absolute Error of time predictions:

training_time_MAE = abs(df[timestamp_column] - df[baseline_next_timestamp_column].shift(periods=1))[df[case_column].shift(periods=1) == df[case_column]].mean()

test_time_MAE = abs(df_test[timestamp_column] - df_test[baseline_next_timestamp_column].shift(periods=1))[df_test[case_column].shift(periods=1) == df_test[case_column]].mean()

training_time_MAE, test_time_MAE

(Timedelta('0 days 16:20:59.739888261'),
 Timedelta('0 days 14:43:13.416911984'))