In [2]:
# imports
import pandas as pd
import statistics
import numpy as np
from datetime import datetime

In [13]:
# read the data (2012)
df = pd.read_csv('data/BPI_Challenge_2012-training.csv')

# read the data (2017)
# df = pd.read_csv('data/BPI Challenge 2017-training.csv')

# read the data (2018)
# df = pd.read_csv('data/BPI Challenge 2018-training.csv')

# read the data (road traffic fines)
# df = pd.read_csv('data/Road_Traffic_Fine_Management_Process-training.csv')

df.head(10)

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp
0,0,173688,2011-10-01T00:38:44.546+02:00,20000,A_SUBMITTED,COMPLETE,01-10-2011 00:38:44.546
1,1,173688,2011-10-01T00:38:44.546+02:00,20000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 00:38:44.880
2,2,173688,2011-10-01T00:38:44.546+02:00,20000,A_PREACCEPTED,COMPLETE,01-10-2011 00:39:37.906
3,3,173688,2011-10-01T00:38:44.546+02:00,20000,W_Completeren aanvraag,SCHEDULE,01-10-2011 00:39:38.875
4,4294967296,173691,2011-10-01T08:08:58.256+02:00,5000,A_SUBMITTED,COMPLETE,01-10-2011 08:08:58.256
5,4294967297,173691,2011-10-01T08:08:58.256+02:00,5000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 08:09:02.195
6,4294967298,173691,2011-10-01T08:08:58.256+02:00,5000,A_PREACCEPTED,COMPLETE,01-10-2011 08:09:56.648
7,4294967299,173691,2011-10-01T08:08:58.256+02:00,5000,W_Completeren aanvraag,SCHEDULE,01-10-2011 08:09:59.578
8,8589934592,173694,2011-10-01T08:10:30.287+02:00,7000,A_SUBMITTED,COMPLETE,01-10-2011 08:10:30.287
9,8589934593,173694,2011-10-01T08:10:30.287+02:00,7000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 08:10:30.591

In [14]:
case_column = "case concept:name"
event_column = "event concept:name"
timestamp_column = "event time:timestamp"
position_column = "Position"
predicted_next_event_column = "Prediction for Next Activity"
predicted_next_timestamp_column = "Prediction for Next Timestamp"

In [15]:
df[timestamp_column] = pd.to_datetime(df[timestamp_column])
df = df.sort_values(by=[case_column, timestamp_column])  # sort values by user and time of event
df = df.reset_index()
df[position_column] = 1  # add a new column for the number of the event in the process
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214377 entries, 0 to 214376
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   index                       214377 non-null  int64
 1   eventID                     214377 non-null  int64
 2   case concept:name           214377 non-null  int64
 3   case REG_DATE               214377 non-null  object
 4   case AMOUNT_REQ             214377 non-null  int64
 5   event concept:name          214377 non-null  object
 6   event lifecycle:transition  214377 non-null  object
 7   event time:timestamp        214377 non-null  datetime64[ns]
 8   Position                    214377 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 14.7+ MB

In [16]:
# adding the day of the week and month of the year

df['day_of_week'] = df[timestamp_column].dt.day_name()
df['month_of_year'] = df[timestamp_column].dt.month_name()
df

,index,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,Position,day_of_week,month_of_year
0,0,0,173688,2011-10-01T00:38:44.546+02:00,20000,A_SUBMITTED,COMPLETE,2011-01-10 00:38:44.546,1,Monday,January
1,1,1,173688,2011-10-01T00:38:44.546+02:00,20000,A_PARTLYSUBMITTED,COMPLETE,2011-01-10 00:38:44.880,1,Monday,January
2,2,2,173688,2011-10-01T00:38:44.546+02:00,20000,A_PREACCEPTED,COMPLETE,2011-01-10 00:39:37.906,1,Monday,January
3,3,3,173688,2011-10-01T00:38:44.546+02:00,20000,W_Completeren aanvraag,SCHEDULE,2011-01-10 00:39:38.875,1,Monday,January
4,89,4,173688,2011-10-01T00:38:44.546+02:00,20000,W_Completeren aanvraag,START,2011-01-10 11:36:46.437,1,Monday,January
...,...,...,...,...,...,...,...,...,...,...,...
214372,199718,44955422687236,206318,2012-02-03T17:07:38.334+01:00,5000,A_DECLINED,COMPLETE,2012-03-02 17:55:57.294,1,Friday,March
214373,199719,44955422687237,206318,2012-02-03T17:07:38.334+01:00,5000,W_Afhandelen leads,COMPLETE,2012-03-02 17:56:00.998,1,Friday,March
214374,199654,44959717654528,206321,2012-02-03T17:08:39.199+01:00,2000,A_SUBMITTED,COMPLETE,2012-03-02 17:08:39.200,1,Friday,March
214375,199655,44959717654529,206321,2012-02-03T17:08:39.199+01:00,2000,A_PARTLYSUBMITTED,COMPLETE,2012-03-02 17:08:39.459,1,Friday,March
214376,199657,44959717654530,206321,2012-02-03T17:08:39.199+01:00,2000,A_DECLINED,COMPLETE,2012-03-02 17:09:19.112,1,Friday,March

In [23]:
# create a dictionary lenght_process that stores the lenght of all processes indexed by the case number
# fill in the column created earlier that shows which position is a certain event in the process (the first event is 1)

df[position_column] = df.groupby([case_column]).cumcount()+1

lenght_process = df.groupby([case_column]).size().to_dict()
#lenght_process

df[df[case_column] == 173688]

{173688: 26,
 173691: 39,
 173694: 59,
 173697: 3,
 173700: 3,
 173703: 9,
 173706: 14,
 173709: 12,
 173712: 14,
 173715: 24,
 173718: 77,
 173721: 35,
 173724: 20,
 173727: 3,
 173730: 76,
 173733: 6,
 173736: 55,
 173739: 48,
 173742: 40,
 173745: 19,
 173748: 38,
 173751: 24,
 173754: 42,
 173757: 3,
 173760: 26,
 173763: 6,
 173766: 29,
 173769: 3,
 173772: 3,
 173775: 9,
 173778: 6,
 173781: 7,
 173784: 108,
 173787: 35,
 173790: 28,
 173793: 36,
 173796: 20,
 173799: 13,
 173802: 6,
 173805: 41,
 173808: 3,
 173811: 48,
 173814: 10,
 173817: 29,
 173820: 3,
 173823: 24,
 173826: 20,
 173829: 12,
 173832: 3,
 173835: 30,
 173838: 3,
 173841: 11,
 173844: 26,
 173847: 20,
 173850: 3,
 173853: 3,
 173856: 8,
 173859: 21,
 173862: 6,
 173865: 3,
 173868: 28,
 173871: 36,
 173874: 3,
 173877: 3,
 173880: 61,
 173883: 3,
 173886: 3,
 173889: 6,
 173892: 3,
 173895: 3,
 173898: 27,
 173901: 6,
 173904: 6,
 173907: 3,
 173910: 3,
 173913: 28,
 173916: 10,
 173919: 18,
 173922: 3,
 173925: 12,
 173928: 115,
 173931: 3,
 173934: 6,
 173937: 32,
 173940: 48,
 173943: 46,
 173946: 21,
 173949: 48,
 173952: 3,
 173955: 89,
 173958: 22,
 173961: 6,
 173964: 10,
 173979: 24,
 173982: 18,
 173985: 25,
 173988: 21,
 173991: 3,
 173994: 3,
 173997: 26,
 174000: 40,
 174003: 3,
 174006: 6,
 174009: 32,
 174012: 41,
 174015: 6,
 174018: 22,
 174021: 6,
 174024: 14,
 174027: 6,
 174030: 64,
 174033: 3,
 174036: 60,
 174039: 50,
 174042: 42,
 174045: 50,
 174048: 7,
 174051: 8,
 174054: 3,
 174057: 3,
 174060: 127,
 174063: 3,
 174066: 3,
 174069: 60,
 174072: 6,
 174075: 6,
 174078: 30,
 174081: 3,
 174084: 41,
 174087: 26,
 174090: 26,
 174093: 35,
 174096: 61,
 174099: 41,
 174102: 10,
 174105: 22,
 174108: 3,
 174111: 12,
 174114: 6,
 174117: 6,
 174120: 22,
 174123: 6,
 174126: 6,
 174129: 6,
 174132: 118,
 174135: 6,
 174138: 14,
 174141: 31,
 174144: 28,
 174147: 37,
 174150: 35,
 174153: 36,
 174156: 3,
 174159: 60,
 174162: 6,
 174165: 3,
 174168: 42,
 174171: 3,
 174174: 3,
 174177: 28,
 174180: 29,
 174183: 3,
 174186: 10,
 174189: 3,
 174192: 3,
 174195: 10,
 174198: 16,
 174201: 16,
 174204: 6,
 174207: 18,
 174210: 3,
 174213: 20,
 174216: 47,
 174219: 12,
 174222: 3,
 174225: 3,
 174228: 6,
 174231: 18,
 174234: 6,
 174237: 52,
 174240: 10,
 174243: 10,
 174246: 6,
 174249: 35,
 174252: 42,
 174255: 30,
 174258: 10,
 174261: 43,
 174264: 72,
 174267: 3,
 174270: 68,
 174273: 6,
 174276: 3,
 174279: 16,
 174282: 6,
 174285: 34,
 174288: 8,
 174291: 37,
 174294: 53,
 174297: 12,
 174300: 6,
 174303: 12,
 174319: 40,
 174322: 35,
 174325: 46,
 174328: 3,
 174331: 10,
 174334: 30,
 174337: 70,
 174340: 3,
 174343: 50,
 174346: 6,
 174349: 35,
 174352: 6,
 174355: 6,
 174358: 69,
 174361: 24,
 174364: 6,
 174367: 27,
 174370: 3,
 174373: 3,
 174376: 20,
 174379: 24,
 174382: 60,
 174385: 24,
 174388: 26,
 174391: 3,
 174394: 20,
 174397: 90,
 174400: 10,
 174403: 39,
 174406: 45,
 174409: 51,
 174412: 3,
 174415: 24,
 174418: 59,
 174421: 20,
 174424: 39,
 174427: 3,
 174430: 24,
 174433: 13,
 174436: 60,
 174439: 3,
 174442: 8,
 174445: 13,
 174448: 34,
 174451: 12,
 174454: 3,
 174457: 22,
 174460: 3,
 174463: 50,
 174466: 3,
 174469: 25,
 174472: 6,
 174475: 9,
 174478: 49,
 174481: 30,
 174484: 14,
 174487: 24,
 174490: 22,
 174493: 37,
 174496: 7,
 174499: 6,
 174502: 49,
 174505: 26,
 174508: 22,
 174511: 73,
 174514: 3,
 174517: 75,
 174520: 3,
 174523: 3,
 174526: 6,
 174529: 38,
 174532: 6,
 174535: 26,
 174538: 32,
 174541: 41,
 174544: 3,
 174547: 50,
 174559: 59,
 174562: 27,
 174565: 27,
 174568: 37,
 174571: 18,
 174574: 6,
 174577: 74,
 174599: 3,
 174602: 25,
 174605: 26,
 174608: 7,
 174611: 10,
 174614: 39,
 174617: 3,
 174620: 30,
 174623: 6,
 174626: 8,
 174629: 28,
 174632: 3,
 174635: 28,
 174638: 23,
 174641: 3,
 174644: 51,
 174647: 6,
 174650: 52,
 174653: 32,
 174656: 38,
 174659: 52,
 174662: 3,
 174665: 6,
 174668: 8,
 174671: 50,
 174674: 3,
 174677: 3,
 174680: 3,
 174683: 28,
 174686: 28,
 174689: 43,
 174692: 3,
 174695: 26,
 174698: 3,
 174701: 3,
 174704: 3,
 174707: 41,
 174710: 32,
 174713: 10,
 174716: 15,
 174719: 30,
 174722: 56,
 174725: 3,
 174728: 6,
 174731: 8,
 174734: 8,
 174737: 37,
 174740: 39,
 174743: 8,
 174746: 8,
 174749: 42,
 174752: 26,
 174755: 8,
 174758: 45,
 174761: 40,
 174764: 50,
 174767: 25,
 174770: 8,
 174773: 30,
 174776: 3,
 174779: 26,
 174782: 6,
 174785: 50,
 174788: 3,
 174791: 3,
 174794: 6,
 174797: 3,
 174800: 24,
 174803: 3,
 174806: 50,
 174809: 3,
 174812: 3,
 174815: 53,
 174818: 51,
 174821: 9,
 174824: 38,
 174827: 18,
 174830: 3,
 174833: 3,
 174836: 6,
 174839: 3,
 174842: 3,
 174845: 48,
 174848: 24,
 174851: 68,
 174854: 18,
 174857: 18,
 174860: 14,
 174863: 37,
 174866: 3,
 174869: 30,
 174872: 92,
 174875: 24,
 174878: 28,
 174881: 31,
 174884: 47,
 174887: 3,
 174890: 10,
 174893: 9,
 174896: 52,
 174899: 3,
 174902: 12,
 174905: 32,
 174908: 8,
 174911: 28,
 174914: 22,
 174917: 34,
 174920: 33,
 174923: 39,
 174926: 38,
 174929: 24,
 174932: 16,
 174935: 45,
 174938: 46,
 174941: 10,
 174944: 88,
 174947: 25,
 174950: 11,
 174953: 22,
 174956: 6,
 174959: 41,
 174962: 46,
 174965: 57,
 174968: 45,
 174979: 34,
 174982: 9,
 174985: 25,
 174988: 3,
 174991: 14,
 174994: 6,
 174997: 7,
 175000: 12,
 175003: 3,
 175006: 3,
 175009: 3,
 175012: 10,
 175015: 52,
 175018: 25,
 175021: 3,
 175024: 24,
 175027: 41,
 175030: 3,
 175033: 6,
 175036: 3,
 175039: 41,
 175042: 6,
 175045: 26,
 175048: 31,
 175051: 3,
 175054: 33,
 175057: 6,
 175060: 55,
 175063: 6,
 175066: 6,
 175069: 3,
 175072: 3,
 175075: 12,
 175078: 69,
 175081: 44,
 175084: 3,
 175087: 6,
 175090: 3,
 175093: 66,
 175096: 75,
 175099: 36,
 175102: 6,
 175105: 33,
 175108: 6,
 175111: 10,
 175114: 24,
 175117: 6,
 175120: 26,
 175123: 3,
 175126: 6,
 175129: 3,
 175132: 6,
 175135: 31,
 175138: 3,
 175141: 20,
 175144: 3,
 175147: 50,
 175150: 6,
 175153: 26,
 175156: 8,
 175159: 6,
 175162: 22,
 175165: 3,
 175168: 6,
 175171: 36,
 175174: 22,
 175177: 48,
 175180: 38,
 175183: 32,
 175186: 10,
 175189: 12,
 175192: 50,
 175195: 46,
 175198: 15,
 175201: 6,
 175204: 34,
 175219: 10,
 175222: 3,
 175225: 6,
 175228: 6,
 175231: 64,
 175234: 56,
 175239: 30,
 175242: 3,
 175245: 6,
 175248: 39,
 175251: 20,
 175254: 49,
 175257: 6,
 175260: 22,
 175263: 31,
 175266: 27,
 175269: 3,
 175272: 3,
 175275: 60,
 175278: 20,
 175281: 74,
 175284: 6,
 175287: 41,
 175290: 3,
 175293: 52,
 175296: 3,
 175299: 11,
 175302: 26,
 175305: 32,
 175308: 3,
 175311: 66,
 175314: 6,
 175317: 3,
 175320: 3,
 175323: 46,
 175326: 3,
 175329: 71,
 175332: 37,
 175335: 45,
 175338: 37,
 175341: 16,
 175344: 40,
 175347: 29,
 175350: 3,
 175353: 82,
 175356: 3,
 175359: 10,
 175362: 3,
 175365: 25,
 175368: 8,
 175371: 7,
 175374: 42,
 175377: 69,
 175380: 22,
 175383: 26,
 175386: 31,
 175389: 9,
 175392: 52,
 175395: 30,
 175398: 6,
 175401: 27,
 175404: 3,
 175407: 30,
 175410: 43,
 175413: 16,
 175416: 3,
 175419: 30,
 175422: 6,
 175425: 39,
 175428: 42,
 175431: 3,
 175434: 23,
 175437: 51,
 175440: 3,
 175443: 3,
 175446: 6,
 175449: 3,
 175452: 6,
 175455: 29,
 175458: 3,
 175461: 3,
 175464: 3,
 175467: 3,
 175470: 3,
 175473: 12,
 175476: 14,
 175479: 10,
 175482: 3,
 175485: 26,
 175488: 16,
 175491: 35,
 175494: 28,
 175497: 41,
 175500: 3,
 175519: 12,
 175522: 8,
 175525: 28,
 175528: 18,
 175531: 10,
 175534: 41,
 175537: 7,
 175540: 3,
 175543: 53,
 175546: 28,
 175549: 42,
 175552: 32,
 175555: 21,
 175558: 3,
 175561: 3,
 175564: 10,
 175567: 28,
 175570: 6,
 175573: 57,
 175576: 7,
 175579: 3,
 175582: 34,
 175585: 51,
 175588: 10,
 175591: 34,
 175594: 13,
 175597: 49,
 175600: 27,
 175603: 6,
 175606: 30,
 175609: 3,
 175612: 3,
 175615: 28,
 175618: 3,
 175621: 3,
 175624: 24,
 175627: 35,
 175630: 35,
 175633: 3,
 175636: 3,
 175639: 3,
 175642: 25,
 175645: 3,
 175648: 6,
 175651: 64,
 175654: 6,
 175657: 38,
 175660: 6,
 175663: 6,
 175666: 7,
 175669: 35,
 175672: 21,
 175675: 35,
 175678: 6,
 175681: 24,
 175684: 48,
 175687: 23,
 175690: 18,
 175693: 18,
 175696: 6,
 175699: 31,
 175702: 36,
 175705: 8,
 175708: 3,
 175711: 10,
 175714: 18,
 175717: 7,
 175720: 36,
 175723: 3,
 175726: 37,
 175729: 6,
 175732: 3,
 175735: 73,
 175738: 6,
 175741: 39,
 175744: 43,
 175747: 6,
 175750: 15,
 175753: 3,
 175756: 38,
 175759: 20,
 175762: 3,
 175765: 14,
 175768: 10,
 175771: 9,
 175774: 22,
 175777: 3,
 175780: 38,
 175783: 3,
 175786: 6,
 175789: 19,
 175792: 41,
 175795: 3,
 175798: 32,
 175801: 37,
 175804: 46,
 175807: 36,
 175810: 6,
 175813: 25,
 175816: 3,
 175819: 9,
 175822: 36,
 175825: 26,
 175828: 3,
 175831: 11,
 175834: 28,
 175837: 8,
 175840: 26,
 175843: 27,
 175846: 6,
 175859: 30,
 175862: 3,
 175865: 6,
 175868: 3,
 175871: 10,
 175874: 3,
 175877: 6,
 175880: 6,
 175883: 37,
 175886: 6,
 175889: 6,
 175892: 70,
 175895: 3,
 175898: 14,
 175901: 6,
 175904: 3,
 175907: 26,
 175910: 34,
 175913: 24,
 175916: 6,
 175919: 3,
 175922: 18,
 175925: 3,
 175928: 10,
 175931: 6,
 175934: 6,
 175937: 18,
 175940: 3,
 175943: 3,
 175946: 9,
 175949: 3,
 175952: 9,
 175955: 3,
 175958: 18,
 175961: 3,
 175964: 3,
 175967: 3,
 175970: 35,
 175973: 28,
 175976: 16,
 175979: 10,
 175982: 6,
 175985: 3,
 175988: 8,
 175991: 24,
 175994: 60,
 175997: 35,
 176000: 28,
 176003: 3,
 176006: 24,
 176009: 6,
 176012: 51,
 176015: 20,
 176018: 7,
 176021: 26,
 176024: 3,
 176027: 6,
 176030: 24,
 176033: 24,
 176036: 3,
 176039: 35,
 176042: 3,
 176045: 19,
 176048: 36,
 176051: 26,
 176054: 6,
 176057: 18,
 176060: 24,
 176063: 22,
 176066: 12,
 176069: 28,
 176072: 30,
 176075: 6,
 176078: 19,
 176081: 41,
 176084: 26,
 176087: 48,
 176090: 49,
 176093: 57,
 176096: 20,
 176099: 6,
 176102: 12,
 176105: 48,
 176119: 39,
 176122: 19,
 176125: 3,
 176128: 21,
 176131: 35,
 176134: 68,
 176137: 22,
 176140: 6,
 176143: 6,
 176146: 60,
 176149: 13,
 176152: 24,
 176155: 6,
 176158: 29,
 176161: 3,
 176164: 6,
 176167: 36,
 176170: 11,
 176173: 3,
 176176: 56,
 176179: 35,
 176182: 56,
 176185: 22,
 176188: 33,
 176191: 24,
 176194: 9,
 176197: 3,
 176200: 3,
 176203: 31,
 176206: 19,
 176209: 6,
 176212: 6,
 176215: 6,
 176218: 82,
 176221: 3,
 176224: 24,
 176227: 22,
 176230: 9,
 176233: 3,
 176236: 8,
 176239: 47,
 176242: 3,
 176245: 6,
 176248: 3,
 176251: 3,
 176254: 3,
 176257: 3,
 176260: 3,
 176263: 10,
 176266: 24,
 176269: 42,
 176272: 6,
 176275: 71,
 176278: 26,
 176281: 39,
 176284: 53,
 176287: 58,
 176290: 78,
 176293: 6,
 176296: 3,
 176299: 9,
 176302: 20,
 176305: 45,
 176308: 18,
 176311: 3,
 176314: 18,
 176317: 13,
 176320: 16,
 176323: 28,
 176326: 60,
 176329: 6,
 176332: 36,
 176339: 6,
 176342: 29,
 176345: 45,
 176359: 7,
 176362: 3,
 176365: 3,
 176368: 45,
 176371: 27,
 176374: 49,
 176377: 3,
 176380: 106,
 176383: 43,
 176386: 44,
 176389: 30,
 176392: 25,
 176395: 29,
 176398: 13,
 176401: 3,
 176404: 40,
 176407: 3,
 176410: 6,
 176413: 28,
 176416: 6,
 176419: 30,
 176422: 3,
 176425: 3,
 176428: 20,
 176431: 7,
 176434: 6,
 176437: 30,
 176440: 10,
 176443: 3,
 176446: 130,
 176449: 6,
 176452: 8,
 176455: 3,
 176458: 37,
 176461: 13,
 176464: 3,
 176467: 46,
 176470: 12,
 176473: 6,
 176476: 47,
 176479: 6,
 176482: 6,
 176485: 3,
 176488: 47,
 176491: 29,
 176494: 3,
 176497: 3,
 176500: 31,
 176503: 6,
 176506: 10,
 176509: 3,
 176512: 3,
 176515: 77,
 176518: 3,
 176521: 34,
 176524: 8,
 176527: 34,
 176530: 6,
 176533: 60,
 176536: 3,
 176539: 68,
 176542: 125,
 176545: 40,
 176548: 6,
 176551: 7,
 176554: 3,
 176557: 36,
 176560: 3,
 176563: 10,
 176566: 83,
 176569: 6,
 176572: 20,
 176575: 41,
 176578: 14,
 176581: 42,
 176584: 6,
 176587: 3,
 176590: 44,
 176593: 32,
 176596: 40,
 176599: 8,
 176602: 10,
 176605: 7,
 176608: 39,
 176611: 62,
 176614: 30,
 176617: 6,
 176620: 10,
 176623: 6,
 176626: 10,
 176629: 3,
 176632: 30,
 176635: 3,
 176639: 24,
 176642: 6,
 176645: 6,
 176648: 34,
 176651: 9,
 176654: 3,
 176657: 44,
 176660: 3,
 176663: 17,
 176666: 6,
 176669: 6,
 176672: 41,
 176675: 6,
 176678: 6,
 176681: 3,
 176684: 50,
 176687: 6,
 176690: 26,
 176693: 3,
 176696: 29,
 176699: 9,
 176702: 32,
 176705: 42,
 176708: 40,
 176711: 32,
 176714: 80,
 176717: 26,
 176720: 3,
 176723: 8,
 176726: 8,
 176729: 29,
 176732: 3,
 176735: 20,
 176738: 26,
 176741: 3,
 176744: 16,
 176747: 24,
 176750: 6,
 176753: 3,
 176756: 3,
 176759: 6,
 176762: 19,
 176765: 39,
 176768: 25,
 176771: 20,
 176774: 3,
 176777: 3,
 176780: 14,
 176783: 24,
 176786: 33,
 176789: 22,
 176792: 50,
 176795: 3,
 176798: 3,
 176801: 3,
 176804: 26,
 176807: 34,
 176810: 36,
 176813: 69,
 ...}

In [ ]:
# here you can see different statistics about the process lenght
print(f'Mean: {statistics.mean(lenght_process.values())}')
print(f'Mode: {statistics.mode(lenght_process.values())}')
print(f'Median: {statistics.median(lenght_process.values())}')
print(f'Max: {max(lenght_process.values())}') # this is df[df['case concept:name'] == 185548]
print(f'Min: {min(lenght_process.values())}')

In [ ]:
# make a function that determines the most common value in a list
def most_common(list):
    return max(set(list), key = list.count)

In [ ]:
# the list prediction_step stores the most common event for each position
# for example, the most common activity for position 1 is prediction_step[0]; prediction for position n is prediction_step[n-1]
prediction_step = []
for i in range(1, max(lenght_process.values()) + 1):
    prediction_step.append(most_common([df[event_column][row] for row in df[df[position_column] == i].index]))
#prediction_step

In [ ]:
# We add the predicted next event to the dataframe

df[predicted_next_event_column] = df[position_column].apply(lambda x: prediction_step[x - 1]) 
#df[df[case_column] == 173688]

In [ ]:
df[timestamp_column][0]

In [ ]:
average_time_per_pos = {}
number_of_adds = {}
for i in range(1, max(lenght_process.values()) + 1):
    average_time_per_pos[i] = pd.Timedelta(0)
    number_of_adds[i] = 0

for row in df.index:
    if ((row+1) < len(df) and df[case_column][row] == df[case_column][row+1]):
        average_time_per_pos[df[position_column][row]] += (df[timestamp_column][row+1] - df[timestamp_column][row])
        number_of_adds[df[position_column][row]] += 1

average_time_per_pos = {x: (average_time_per_pos[x] / number_of_adds[x] if number_of_adds[x]!=0 else pd.Timedelta(0)) for x in average_time_per_pos.keys() & number_of_adds}
#average_time_per_pos

In [ ]:
# We create a dictionary to store the average time duration until the next event
# For example the average time duration between position n and n+1 is average_time_per_pos[n]
# The dataframe must be sorted on case-number and timestamp for this calculation!

average_time_per_pos = {}
number_of_adds = {}
for i in range(1, max(lenght_process.values()) + 1):
    average_time_per_pos[i] = pd.Timedelta(0)
    number_of_adds[i] = 0

for row in df.index:
    if ((row+1) < len(df) and df[case_column][row] == df[case_column][row+1]):
        average_time_per_pos[df[position_column][row]] += (df[timestamp_column][row+1] - df[timestamp_column][row])
        number_of_adds[df[position_column][row]] += 1

average_time_per_pos = {x: (average_time_per_pos[x] / number_of_adds[x] if number_of_adds[x]!=0 else pd.Timedelta(0)) for x in average_time_per_pos.keys() & number_of_adds}
#average_time_per_pos

In [ ]:
# We add the predicted time duration until next event to the dataframe

def next_timestamp(x):
    return (x[timestamp_column] + average_time_per_pos[x[position_column]]) if (average_time_per_pos[x[position_column]] != pd.Timedelta(0)) else "-"
df[predicted_next_timestamp_column] = df.apply(next_timestamp, axis=1)
df[df[case_column] == 173688]

In [ ]:
df[df[predicted_next_timestamp_column] == "-"]