In [1]:
# imports
import pandas as pd

In [2]:
# read the data (2012)
df = pd.read_csv('data/BPI_Challenge_2012-training.csv')

df_test = pd.read_csv('data/BPI_Challenge_2012-test.csv')

# read the data (road traffic fines)
# df = pd.read_csv('data/Road_Traffic_Fine_Management_Process-training.csv')

# read the data (2017)
# df = pd.read_csv('data/BPI Challenge 2017-training.csv')

# read the data (2018)
# df = pd.read_csv('data/BPI Challenge 2018-training.csv')

df.head(10)

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp
0,0,173688,2011-10-01T00:38:44.546+02:00,20000,A_SUBMITTED,COMPLETE,01-10-2011 00:38:44.546
1,1,173688,2011-10-01T00:38:44.546+02:00,20000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 00:38:44.880
2,2,173688,2011-10-01T00:38:44.546+02:00,20000,A_PREACCEPTED,COMPLETE,01-10-2011 00:39:37.906
3,3,173688,2011-10-01T00:38:44.546+02:00,20000,W_Completeren aanvraag,SCHEDULE,01-10-2011 00:39:38.875
4,4294967296,173691,2011-10-01T08:08:58.256+02:00,5000,A_SUBMITTED,COMPLETE,01-10-2011 08:08:58.256
5,4294967297,173691,2011-10-01T08:08:58.256+02:00,5000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 08:09:02.195
6,4294967298,173691,2011-10-01T08:08:58.256+02:00,5000,A_PREACCEPTED,COMPLETE,01-10-2011 08:09:56.648
7,4294967299,173691,2011-10-01T08:08:58.256+02:00,5000,W_Completeren aanvraag,SCHEDULE,01-10-2011 08:09:59.578
8,8589934592,173694,2011-10-01T08:10:30.287+02:00,7000,A_SUBMITTED,COMPLETE,01-10-2011 08:10:30.287
9,8589934593,173694,2011-10-01T08:10:30.287+02:00,7000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 08:10:30.591

In [3]:
# Defining database-specific variables
case_column = "case concept:name"
registration_time_column = "case REG_DATE"
event_column = "event concept:name"
timestamp_column = "event time:timestamp"
timeformat_registration = "%Y-%m-%dT%H:%M:%S" # new time format
timeformat_timestamp = "%d-%m-%Y %H:%M:%S.%f"

# Names of new columns we will add in the notebooks
position_column = "Position" # added in the baseline notebook
baseline_next_event_column = "Baseline Prediction for Next Activity" # added in the baseline notebook
baseline_next_timestamp_column = "Baseline Prediction for Next Timestamp" # added in the baseline notebook

In [4]:
# Running the notebook that adds the baseline predictions to df and df_test
%run -i "Baseline Prediction Tool.ipynb"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214377 entries, 0 to 214376
Data columns (total 8 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   index                       214377 non-null  int64
 1   eventID                     214377 non-null  int64
 2   case concept:name           214377 non-null  int64
 3   case REG_DATE               214377 non-null  datetime64[ns]
 4   case AMOUNT_REQ             214377 non-null  int64
 5   event concept:name          214377 non-null  object
 6   event lifecycle:transition  214377 non-null  object
 7   event time:timestamp        214377 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(2)
memory usage: 13.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47823 entries, 0 to 47822
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       47823 non-null  int64
 1   eventID                     47823 non-null  int64
 2   case concept:name           47823 non-null  int64
 3   case REG_DATE               47823 non-null  datetime64[ns]
 4   case AMOUNT_REQ             47823 non-null  int64
 5   event concept:name          47823 non-null  object
 6   event lifecycle:transition  47823 non-null  object
 7   event time:timestamp        47823 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(2)
memory usage: 2.9+ MB

In [5]:
df.head(10)

,index,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,Position,Baseline Prediction for Next Activity,Baseline Prediction for Next Timestamp
0,0,0,173688,2011-10-01 00:38:44,20000,A_SUBMITTED,COMPLETE,2011-10-01 00:38:44.546,1,A_PARTLYSUBMITTED,2011-10-01 00:38:45.128640462
1,1,1,173688,2011-10-01 00:38:44,20000,A_PARTLYSUBMITTED,COMPLETE,2011-10-01 00:38:44.880,2,W_Afhandelen leads,2011-10-01 00:39:19.982779539
2,2,2,173688,2011-10-01 00:38:44,20000,A_PREACCEPTED,COMPLETE,2011-10-01 00:39:37.906,3,W_Completeren aanvraag,2011-10-01 00:39:38.408771753
3,3,3,173688,2011-10-01 00:38:44,20000,W_Completeren aanvraag,SCHEDULE,2011-10-01 00:39:38.875,4,W_Completeren aanvraag,2011-10-01 17:58:08.032379243
4,89,4,173688,2011-10-01 00:38:44,20000,W_Completeren aanvraag,START,2011-10-01 11:36:46.437,5,W_Completeren aanvraag,2011-10-02 04:55:15.594379243
5,94,5,173688,2011-10-01 00:38:44,20000,A_ACCEPTED,COMPLETE,2011-10-01 11:42:43.308,6,O_SELECTED,2011-10-01 11:46:27.513278604
6,98,7,173688,2011-10-01 00:38:44,20000,A_FINALIZED,COMPLETE,2011-10-01 11:45:09.243,7,O_CREATED,2011-10-01 11:45:11.557131461
7,99,6,173688,2011-10-01 00:38:44,20000,O_SELECTED,COMPLETE,2011-10-01 11:45:09.243,8,O_CREATED,2011-10-01 11:45:11.199693633
8,100,8,173688,2011-10-01 00:38:44,20000,O_CREATED,COMPLETE,2011-10-01 11:45:11.197,9,O_SENT,2011-10-01 11:45:11.257123109
9,101,9,173688,2011-10-01 00:38:44,20000,O_SENT,COMPLETE,2011-10-01 11:45:11.380,10,W_Nabellen offertes,2011-10-01 11:45:11.587961660

In [6]:
# Accuracy % of the baseline event predictions:

training_event_accuracy = len(df[(df[baseline_next_event_column].shift(periods=1)==df[event_column]) & (df[case_column].shift(periods=1) == df[case_column])]) * 100 / len(df[df[case_column].shift(periods=1) == df[case_column]])

test_event_accuracy = len(df_test[(df_test[baseline_next_event_column].shift(periods=1)==df_test[event_column]) & (df_test[case_column].shift(periods=1) == df_test[case_column])]) * 100 / len(df_test[df_test[case_column].shift(periods=1) == df_test[case_column]])

training_event_accuracy, test_event_accuracy

(64.9130980638327, 64.06370976661874)

In [7]:
# Mean Absolute Error of the baseline time predictions:

training_time_MAE = abs(df[timestamp_column] - df[baseline_next_timestamp_column].shift(periods=1))[df[case_column].shift(periods=1) == df[case_column]].mean()

test_time_MAE = abs(df_test[timestamp_column] - df_test[baseline_next_timestamp_column].shift(periods=1))[df_test[case_column].shift(periods=1) == df_test[case_column]].mean()

training_time_MAE, test_time_MAE

(Timedelta('0 days 16:20:59.739888261'),
 Timedelta('0 days 14:43:13.416911984'))

In [8]:
# Running the notebook that adds the on-the-fly event prediction to df and df_test
# %run -i "knn_fly.ipynb" # NOT FINISHED YET

In [9]:
df.head(10)

,index,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,Position,Baseline Prediction for Next Activity,Baseline Prediction for Next Timestamp
0,0,0,173688,2011-10-01 00:38:44,20000,A_SUBMITTED,COMPLETE,2011-10-01 00:38:44.546,1,A_PARTLYSUBMITTED,2011-10-01 00:38:45.128640462
1,1,1,173688,2011-10-01 00:38:44,20000,A_PARTLYSUBMITTED,COMPLETE,2011-10-01 00:38:44.880,2,W_Afhandelen leads,2011-10-01 00:39:19.982779539
2,2,2,173688,2011-10-01 00:38:44,20000,A_PREACCEPTED,COMPLETE,2011-10-01 00:39:37.906,3,W_Completeren aanvraag,2011-10-01 00:39:38.408771753
3,3,3,173688,2011-10-01 00:38:44,20000,W_Completeren aanvraag,SCHEDULE,2011-10-01 00:39:38.875,4,W_Completeren aanvraag,2011-10-01 17:58:08.032379243
4,89,4,173688,2011-10-01 00:38:44,20000,W_Completeren aanvraag,START,2011-10-01 11:36:46.437,5,W_Completeren aanvraag,2011-10-02 04:55:15.594379243
5,94,5,173688,2011-10-01 00:38:44,20000,A_ACCEPTED,COMPLETE,2011-10-01 11:42:43.308,6,O_SELECTED,2011-10-01 11:46:27.513278604
6,98,7,173688,2011-10-01 00:38:44,20000,A_FINALIZED,COMPLETE,2011-10-01 11:45:09.243,7,O_CREATED,2011-10-01 11:45:11.557131461
7,99,6,173688,2011-10-01 00:38:44,20000,O_SELECTED,COMPLETE,2011-10-01 11:45:09.243,8,O_CREATED,2011-10-01 11:45:11.199693633
8,100,8,173688,2011-10-01 00:38:44,20000,O_CREATED,COMPLETE,2011-10-01 11:45:11.197,9,O_SENT,2011-10-01 11:45:11.257123109
9,101,9,173688,2011-10-01 00:38:44,20000,O_SENT,COMPLETE,2011-10-01 11:45:11.380,10,W_Nabellen offertes,2011-10-01 11:45:11.587961660

In [10]:
# Accuracy % of the on-the-fly event predictions:

# training_event_accuracy = len(df[(df[baseline_next_event_column].shift(periods=1)==df[event_column]) & (df[case_column].shift(periods=1) == df[case_column])]) * 100 / len(df[df[case_column].shift(periods=1) == df[case_column]])

# test_event_accuracy = len(df_test[(df_test[baseline_next_event_column].shift(periods=1)==df_test[event_column]) & (df_test[case_column].shift(periods=1) == df_test[case_column])]) * 100 / len(df_test[df_test[case_column].shift(periods=1) == df_test[case_column]])

# training_event_accuracy, test_event_accuracy

In [11]:
# Running the notebook that adds the on-the-fly event prediction to df and df_test
%run -i "timePrediction_onTheFly.ipynb" # Takes around 2 minutes to run

C:\Users\Sander\AppData\Local\Temp/ipykernel_16372/1376477422.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[row_nr_column] = dataset.index
C:\Users\Sander\AppData\Local\Temp/ipykernel_16372/1376477422.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_test[row_nr_column] = dataset_test.index
C:\Users\Sander\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\Sander\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

   case concept:name      event concept:name    event time:timestamp  \
0             173688             A_SUBMITTED 2011-10-01 00:38:44.546
1             173688       A_PARTLYSUBMITTED 2011-10-01 00:38:44.880
2             173688           A_PREACCEPTED 2011-10-01 00:39:37.906
3             173688  W_Completeren aanvraag 2011-10-01 00:39:38.875
4             173688  W_Completeren aanvraag 2011-10-01 11:36:46.437

  event lifecycle:transition  row_nr
0                   COMPLETE       0
1                   COMPLETE       1
2                   COMPLETE       2
3                   SCHEDULE       3
4                      START       4
dict: Elapsed time during the whole program in seconds: 90.25

C:\Users\Sander\AppData\Local\Temp/ipykernel_16372/2674699106.py:14: RuntimeWarning: divide by zero encountered in log2
  error_df['log_predictionError'] = [np.log2(x) for x in error_df['predictionError']]

The mean absolute error on the training-set is: 725.76 minutes.
dict: Elapsed time during the whole program on the testset in seconds: 6.390625
The mean absolute error on the test-set is: 619.7 minutes.
                         event_column               timestamp  \
1        A_SUBMITTED_XX_COMPLETE_XX_0 2012-02-03 17:17:11.047
2  A_PARTLYSUBMITTED_XX_COMPLETE_XX_0 2012-02-03 17:17:11.323
4        A_SUBMITTED_XX_COMPLETE_XX_0 2012-02-03 17:23:41.949
5  A_PARTLYSUBMITTED_XX_COMPLETE_XX_0 2012-02-03 17:23:42.504
6      A_PREACCEPTED_XX_COMPLETE_XX_0 2012-02-03 17:24:23.379

   predictionError  predictionErrorRatio  predictedTimePassed  timePassed  \
1         0.004439              0.964925             0.009039    0.004600
2         0.008243              0.015630             0.535593    0.527350
4         0.000655              0.070834             0.008595    0.009250
5         0.146482              0.215019             0.534768    0.681250
6         0.002926              0.260872             0.008291    0.011217

  event_column_basic  log_predictionError
1        A_SUBMITTED            -7.815662
2  A_PARTLYSUBMITTED            -6.922686
4        A_SUBMITTED           -10.575755
5  A_PARTLYSUBMITTED            -2.771208
6      A_PREACCEPTED            -8.416799

In [12]:
df.head(10)

,index,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,Position,Baseline Prediction for Next Activity,Baseline Prediction for Next Timestamp
0,0,0,173688,2011-10-01 00:38:44,20000,A_SUBMITTED,COMPLETE,2011-10-01 00:38:44.546,1,A_PARTLYSUBMITTED,2011-10-01 00:38:45.128640462
1,1,1,173688,2011-10-01 00:38:44,20000,A_PARTLYSUBMITTED,COMPLETE,2011-10-01 00:38:44.880,2,W_Afhandelen leads,2011-10-01 00:39:19.982779539
2,2,2,173688,2011-10-01 00:38:44,20000,A_PREACCEPTED,COMPLETE,2011-10-01 00:39:37.906,3,W_Completeren aanvraag,2011-10-01 00:39:38.408771753
3,3,3,173688,2011-10-01 00:38:44,20000,W_Completeren aanvraag,SCHEDULE,2011-10-01 00:39:38.875,4,W_Completeren aanvraag,2011-10-01 17:58:08.032379243
4,89,4,173688,2011-10-01 00:38:44,20000,W_Completeren aanvraag,START,2011-10-01 11:36:46.437,5,W_Completeren aanvraag,2011-10-02 04:55:15.594379243
5,94,5,173688,2011-10-01 00:38:44,20000,A_ACCEPTED,COMPLETE,2011-10-01 11:42:43.308,6,O_SELECTED,2011-10-01 11:46:27.513278604
6,98,7,173688,2011-10-01 00:38:44,20000,A_FINALIZED,COMPLETE,2011-10-01 11:45:09.243,7,O_CREATED,2011-10-01 11:45:11.557131461
7,99,6,173688,2011-10-01 00:38:44,20000,O_SELECTED,COMPLETE,2011-10-01 11:45:09.243,8,O_CREATED,2011-10-01 11:45:11.199693633
8,100,8,173688,2011-10-01 00:38:44,20000,O_CREATED,COMPLETE,2011-10-01 11:45:11.197,9,O_SENT,2011-10-01 11:45:11.257123109
9,101,9,173688,2011-10-01 00:38:44,20000,O_SENT,COMPLETE,2011-10-01 11:45:11.380,10,W_Nabellen offertes,2011-10-01 11:45:11.587961660

In [13]:
# Mean Absolute Error of the on-the-fly time predictions:

# training_time_MAE = abs(df[timestamp_column] - df[baseline_next_timestamp_column].shift(periods=1))[df[case_column].shift(periods=1) == df[case_column]].mean()

# test_time_MAE = abs(df_test[timestamp_column] - df_test[baseline_next_timestamp_column].shift(periods=1))[df_test[case_column].shift(periods=1) == df_test[case_column]].mean()

# training_time_MAE, test_time_MAE